* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #F8F8F8;
  text-align: center;
}
.header {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 40vh;
}
.brand {
  display: inline-block;
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: 3.6em;font-weight: bold;
  text-decoration: none;
  padding: 0 0 0.3em 0;
}
.brand-blue {
  color: #224455;
}
.brand-red {
  color: #EE4444;
}
.brand-lightblue {
  color: #2277AA;
}
.title {
  font-size: 1.4em;
}
.links {
  height: 60vh;
  padding: 2em 0 0 0;
}
.links-list {
  list-style: none;
}
.links-list li {
  display: inline-block;
  padding: 0.5em;
}
.construction {
  color: #888888;
  padding: 2em 0 0 0;
}