.mainHeader {
  background: $white;
  width: 100%;
  padding: 0.5em 0 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include shadow();
  &__brand {
    display: block;
    color: $brand-color;
    font: {
      family: $brand-font;
      size: 2.8em;
    }
    text: {
      transform: lowercase;
      align: center;
    }
  }
  &__firstName {
    font-weight: 400;
  }
  &__lastName {
    font-weight: 700;
  }
  & .navigation__list {
    padding: 0.3em 0 0.2em 0;
    margin: 0;
    text: {
      transform: lowercase;
      align: center;
    }
  }
  & .navigation__item {
    display: inline;
  }
  & .navigation__link {
    margin: 0 0 0 1.5em;
    &:hover {
      border-bottom: 3px solid $black;
    }
  }
}
@media (min-width: $medium-screen) {
  .mainHeader {
    & .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__brand {
      width: 40%;
      text-align: left;
    }
    & .navigation__list {
      padding: 1.4em 0 0 0;
      display: inline-block;
    }
  }
}