.listingBlocks {
  margin-top: 7.5em;
  padding: 0 0 2em 0;
  &__title {
    text-transform: lowercase;
    margin: 0 0 0.8em 0;
    font: {
      family: $brand-font;
      size: 2.2em;
      weight: 700;
    }
    &::after {
      padding: 0 0 0 0.5em;
      font-size: 1.1em;
    }
    &--works {
      @extend .listingBlocks__title;
      &::after {
        content: '\0203A';
        color: $blue;
      }
    }
    &--articles {
      @extend .listingBlocks__title;
      &::after {
        content: '\0203A';
        color: $green;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1.5em;
    justify-items: stretch;
    @media (min-width: $medium-screen) {
      grid-template-columns: 31% 31% 31%;
    }
  }
}
.listingBlock {
  padding: 0;
  background: $white;
  @include shadow();
  &:hover img {
    filter: brightness(0.6);
    z-index: inherit;
  }
  &__figure {
    width: 100%;
    margin: 0;
  }
  &__img {
    width: 100%;
    transition: filter 0.5s ease-in-out;
  }
  &__info {
    text-align: center;
    padding: 1em;
  }
  &__category {
    margin: 0;
    padding: 0.3em 0.4em;
    &::before {
      content: '#';
    }
    &--works {
      @extend .listingBlock__category;
      color: $blue;
      border: 1px $blue solid;
    }
    &--articles {
      @extend .listingBlock__category;
      color: $green;
      border: 1px $green solid;
    }
  }
  &__title {
    font: {
      size: 1.8em;
      weight: 700;
    }
  }
  &__date {
    text-transform: lowercase;
    display: block;
    padding: 0.4em 0 0.8em 0;
  }
  &__tagsList {
    font-size: 0.8em;
    color: $brand-color;
    display: inline-block;
    text-transform: lowercase;
    @media (max-width: $xsmall-screen) {
      display: none;
    }
    & a {
      margin: 0 5px 8px 0;
      padding: 0.3em 0.4em;
      display: inline-block;
      text-decoration: none;
      color: inherit;
      background: $white;
      border: 1px $brand-color solid;
      &:hover {
        color: $white;
        background: $brand-color;
        transition: {
          property: color, background;
          duration: 0.5s;
          timing-function: ease-in-out;
        }
      }
    &::before {
        content: '#';
        display: inline;
      }
    }
    & li {
      display: inline;
    }
  }
}