@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700&display=swap');
$brand-font: "Exo 2", Arial, Helvetica, sans-serif;
$main-font: "Lato", sans-serif;
$brand-color: rgba(34, 68, 85, 1);
$brand-color-2: rgba(85, 119, 136, 1);
$black: rgba(51, 51, 51, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(136, 136, 136, 1);
$gray-2: rgba(227, 230, 232, 1);
$gray-3: rgba(238, 238, 238, 1);
$gray-4: rgba(248, 248, 248, 1);
$blue: rgba(34, 119, 170, 1);
$green: rgba(85, 204, 187, 1);
$red: rgba(238, 68, 68, 1);
$orange: rgba(255, 187, 51, 1);
$purple: rgba(119, 51, 153, 1);
$xsmall-screen: 290px;
$small-screen: 360px;
$medium-screen: 600px;
$large-screen: 840px;
$xlarge-screen: 1280px;